<nav class="navbar navbar-dark">
    <span class="navbar-brand mb-0 h1 center">Tweet App</span>
  </nav>
    <div class="card mb-3" style="max-width: 540px; margin-top: 70px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../../../assets/images/login.png"  width="150" height="" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h1 class="card-title">Sign In</h1>
              <form ngNativeValidate (ngSubmit)="validateLogin()">
                <div class="form-group">
                  <label for="exampleInputEmail1" style="font-weight: bolder;">User Id</label>
                  <input type="text" class="form-control" name="userId" id="userId" [(ngModel)]="userId" required>              </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" style="font-weight: bolder;">Password</label>
                  <input type="password" class="form-control"  name="password" id="password" [(ngModel)]="password" required>
                  <small style = "text-align: left; color: blue; text-decoration: underline;"(click)="forgotPassword()">Forgot password !</small>
                </div>
                <br>
                <button type="submit" class="d-grid gap-2 col-12 mx-auto btn" style = "background-color: #0b2239; color:white">Login</button>
              </form>
              <small *ngIf = 'inValidLogin' style="color: red;" class="mx-auto my-auto">Invalid credentials</small>     
          </div>
          <small>New user ! <a style="text-decoration: blue underline;color: blue;" (click)="registerPage()">Sign Up Now !</a></small>
        </div>
      </div>
    </div>